body{
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
    background: rgb(0, 136, 255);
}

.MainTitle{
    font-weight: 300;
    font-size: 56px;
    color: white;
    text-align: center;
    margin-top: 3%;
}
.CryptoInfo{
    font-size: 30px;
    color: white;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 7%;
}

.CryptoButton {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 0.2em;
    color: #0088FF;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.CryptoButton:hover{
    background-color: #0088FF;
    color: white;
}

.button1{
    position: absolute;
    width: 40%;
    margin-top: 10%;
}
.button2{
    position: absolute;
    width: 40%;
    margin-top: 50%;
    margin-left: 56%;
}
.button3{
    position: absolute;
    width: 40%;
    margin-top: 90%;
}

.bitcoin{
    color: white;
    font-size: 12px;
    position:absolute;
    margin-top:15%;
    margin-left:46%;
}

.ripple{
    color: white;
    font-size: 12px;
    position:absolute;
    margin-top: 95%;
    margin-left: 46%;
}

.ethereum{
    color: white;
    font-size: 12px;
    position: absolute;
    padding-right: 45%;
    margin-top: 55%;
    margin-left: 3%;
}
